## If Statement

In [7]:
if 5 >= 5:
    print("hello")
if 5 <= 5:
    print("hello")
if 5 == 6:
    print("hello thats magic")
if 5 != 6:
    print("hello thats not magic")

hello
hello
hello thats not magic

In [1]:
x = int(input("Enter an integer please! "))
if x > 42:
    print("Too ambitious an answer!")
elif x < 42:
    print("You dream too little!")
else:
    print("That is the answer to everything!")

Enter an integer please! 33
You dream too little!

## Loops
* While
* For
* Do While (emulate)

In [12]:
# Good old Fibonacci
#a, b, c = 0, 1, 10
a = 0
b = 1
c = 10
while c < 100:
    print(b, c)
    a, b, c = b, a+b, c+1 # multiple assignment yay! right side from left to right eval first then assigned to left!
print(c)

1 10
1 11
2 12
3 13
5 14
8 15
13 16
21 17
34 18
55 19
89 20
144 21
233 22
377 23
610 24
987 25
1597 26
2584 27
4181 28
6765 29
10946 30
17711 31
28657 32
46368 33
75025 34
121393 35
196418 36
317811 37
514229 38
832040 39
1346269 40
2178309 41
3524578 42
5702887 43
9227465 44
14930352 45
24157817 46
39088169 47
63245986 48
102334155 49
165580141 50
267914296 51
433494437 52
701408733 53
1134903170 54
1836311903 55
2971215073 56
4807526976 57
7778742049 58
12586269025 59
20365011074 60
32951280099 61
53316291173 62
86267571272 63
139583862445 64
225851433717 65
365435296162 66
591286729879 67
956722026041 68
1548008755920 69
2504730781961 70
4052739537881 71
6557470319842 72
10610209857723 73
17167680177565 74
27777890035288 75
44945570212853 76
72723460248141 77
117669030460994 78
190392490709135 79
308061521170129 80
498454011879264 81
806515533049393 82
1304969544928657 83
2111485077978050 84
3416454622906707 85
5527939700884757 86
8944394323791464 87
14472334024676221 88
23416728348467685 89
37889062373143906 90
61305790721611591 91
99194853094755497 92
160500643816367088 93
259695496911122585 94
420196140727489673 95
679891637638612258 96
1100087778366101931 97
1779979416004714189 98
2880067194370816120 99
100

In [17]:
for x in [1,6,3,77,788]:
    print(x*x)
print(x)

1
36
9
5929
620944
788

In [21]:
d={}
for x, y in enumerate([1,2,6,55]):
    print(x, y)
    d[x]=y
print(d)

0 1
1 2
2 6
3 55
{0: 1, 1: 2, 2: 6, 3: 55}

In [24]:
b=list(range(2,3))
b

[2]

In [26]:
for a in range(1,5):
    for b in range(20,24):
        print(a,b)

1 20
1 21
1 22
1 23
2 20
2 21
2 22
2 23
3 20
3 21
3 22
3 23
4 20
4 21
4 22
4 23

In [29]:
for a in range(1,9):
    for b in range(a,6):
        print(a,b)

1 1
1 2
1 3
1 4
1 5
2 2
2 3
2 4
2 5
3 3
3 4
3 5
4 4
4 5
5 5

In [30]:
n=0
for a in range(1,4):
    for b in range(11,14):
        for c in range(21,24):
            print(n, a, b, c)
            n+=1

0 1 11 21
1 1 11 22
2 1 11 23
3 1 12 21
4 1 12 22
5 1 12 23
6 1 13 21
7 1 13 22
8 1 13 23
9 2 11 21
10 2 11 22
11 2 11 23
12 2 12 21
13 2 12 22
14 2 12 23
15 2 13 21
16 2 13 22
17 2 13 23
18 3 11 21
19 3 11 22
20 3 11 23
21 3 12 21
22 3 12 22
23 3 12 23
24 3 13 21
25 3 13 22
26 3 13 23

In [25]:
#The break statement, like in C, breaks out of the innermost enclosing for or while loop.

#Loop statements may have an else clause; it is executed when the loop terminates through exhaustion of the list (with for) or when the condition becomes false (with while), but not when the loop is terminated by a break statement. This is exemplified by the following loop, which searches for prime numbers:

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else: #badly named Else IMHO! should be exhausted not ELSE!!! VS
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
# The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:
# Do not run this !!!
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [32]:
#emulated do while loop
a=0
while True:
    # statement(s)
    a+=1
    print(a)
    if not a < 5:
        break

1
2
3
4
5

## Iterating over lists

In [33]:
for i in range(10):
    print(i, end='')  #Python 3.x specific

0123456789

In [34]:
for i in range(10):
    print(f'{i} ',end='')  #Python 3.6+ specific

0 1 2 3 4 5 6 7 8 9

In [35]:
names=['Alice','Bob','Carol','David']
for n in names:
    print(n, len(n))

Alice 5
Bob 3
Carol 5
David 5

In [37]:
# An older Pythonic method of iterating over indices of a sequence
for i in range(len(names)):
    print(i, names[i])

0 Alice
1 Bob
2 Carol
3 David

In [38]:
for i, name in enumerate(names):
    print(i, name)

0 Alice
1 Bob
2 Carol
3 David

In [39]:
# For example, assume we want to create a list of squares, like:

squares = []
for x in range(10):
    squares.append(x**2)
squares
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

# squares = list(map(lambda x: x**2, range(10)))

squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
squares = [x**2 for x in range(10) if x % 2 == 1]
squares

[1, 9, 25, 49, 81]

In [41]:
# In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:


sqrs={x: x**2 for x in range(1,20)}
print(sqrs)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [ ]:
sqrs[5]

In [ ]:
#When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

## Avoid changing the sequence that you loop(iterate) over!

In [ ]:

for n in names[:]: #Looping over shallow copy of a list useful if we are going to modify the original list!
    if n[0]=='B':
        names.append(n)
print(names)

In [ ]:
## Enumerate method
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.


for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

### To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')

In [ ]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.


for i in reversed(range(1, 10, 2)):
    print(i)

In [ ]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.


basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

## Homework
### Write a program that goes over(iterates) numbers from 1 to 100(included)
* For each number it prints Fizz if number divides by 5 even
* For each number it prints Buzz if number divides by 7 evenly
* If number divides by 5 AND 7 print FizzBuzz
* print number if it does not divide by 5 nor 7
* 1,2,3,4,Fizz,6,Buzz,8,9,Fizz,11,.......34,FizzBuzz,36