In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = "https://www.ss.com/lv/real-estate/wood/"

In [4]:
req = requests.get(url)
req.status_code

200

In [6]:
soup = BeautifulSoup(req.text, 'lxml')
soup.title

In [8]:
anchorlist = soup.find_all('a', {'class': 'a_category'})
len(anchorlist)

27

In [9]:
urlist = [el['href'] for el in anchorlist]
len(urlist)

27

In [10]:
urlist[0]

'/lv/real-estate/wood/riga-region/'

In [11]:
baseurl = "https://www.ss.com"

In [12]:
furlist = [baseurl + el for el in urlist]
furlist[:2]

['https://www.ss.com/lv/real-estate/wood/riga-region/',
 'https://www.ss.com/lv/real-estate/wood/aizkraukle-and-reg/']

In [17]:
postfix = 'sell/'

In [18]:
sellist = [el+postfix for el in furlist]
sellist[:2]

['https://www.ss.com/lv/real-estate/wood/riga-region/sell/',
 'https://www.ss.com/lv/real-estate/wood/aizkraukle-and-reg/sell/']

In [19]:
dftables = pd.read_html(sellist[0])
len(dftables)

11

In [20]:
riga = dftables[8]
riga

,0,1,2,3,4,5
0,Sludinājumi \tdatums,Pagasts,m2,Cena,NaN,NaN
1,NaN,NaN,Ja vēlies dzīvot ekoloģiskā lauku vidē un tajā...,Allažu pag.Allažmuiža,32.30 ha.,"150,000 €"
2,NaN,NaN,"Pardodu apaugumu, nodastots 2018 gada vasara. ...",Olaines pag.Pēternieki,1 ha.,"5,000 €"
3,NaN,NaN,"Pārdod cirsmu Mālpils pagastā, Mālpils novadā....",Mālpils pag.Mālpils,9.90 ha.,"100,000 €"
4,NaN,NaN,"Pārdod cirsmu Siguldas pagastā, Siguldas novad...",Siguldas pag.Peltes,2.30 ha.,"30,000 €"
5,NaN,NaN,Tirgoju cirsmas iztrādes tiesības (kokus uz ce...,Salaspils,2.30 ha.,"10,100 €"
6,NaN,NaN,Kailcirtē tiek piedāvātas cirsmas 1. un 5. nog...,Inčukalna nov.Inčukalns,0.50 ha.,"8,000 €"
7,NaN,NaN,"Pārdodu īpašumu - Indras, 7.8ha platībā, no ku...",Ropažu nov.Augšciems,7.80 ha.,"18,000 €"
8,NaN,NaN,"Pārdodu Mežu kopā ar zemi Baldonē. Mežš 3, 18 ...",Baldone,4.13 ha.,"55,000 €"
9,NaN,NaN,Privātai apbūvei paredzēts zemes gabals 5500 m...,Inčukalna nov.Krustiņi,5500 m²,"14,000 €"
10,NaN,NaN,Pārdodu cirsmas Ropažu novadā. Mežā pie Tumšup...,Ropažu nov.Ropaži,3 ha.,"6,000 €"
11,NaN,NaN,"Pardodu cirsmas izstrades tiesibas. 200cm3, va...",Olaine,1 ha.,"6,000 €"
12,NaN,NaN,"Pārdodam izstrādātus mežus, platības nav liela...",Sējas nov.,15 ha.,"20,000 €"
13,NaN,NaN,"Pārdod mežu Jūrmalā, inventarizācija nav veikt...",-,4.61 ha.,"8,000 €"
14,NaN,NaN,Pārdodu cirsmas izstrādes tiesības. Cirsma ir ...,Ādažu nov.Eimuri,0.35 ha.,"5,800 €"
15,"load_script_async(""/w_inc/reklama.728.php?0||2...",NaN,NaN,NaN,NaN,NaN